!/*.js
!bin/ios-sim-portable.js
*.js.map

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
tscommand*.tmp.txt
.tscache/
/lib/.d.ts

.idea/

test-reports.xml

npm-debug.log
node_modules
